*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: rgba(10, 3, 28, 0.83);
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 60%;
    height:auto;
    margin: 50px auto;
    
}

.img-thumbnail{
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding-left: 40px;
    
}
.img-thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 3px 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.234);
}

.info{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.info h4{
    
    color: white;
    text-align: center;
    font-size: 16px;
}
.info span{
    font-size: 15px;
    color: rgb(150, 150, 157);
}
.controls{
    display: flex;
    justify-content: center;
}
.controls button{
    color: white;
    border: none;
    line-height: 0px;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 20px;
    background: none;
    

}

.controls .step{
    display: flex;
    align-items: center;
    
    padding:0 20px;
    font-size: 17px;
}

.player{
    width: 100%;
    display: flex;
    margin: 20px
    /* justify-content: center; */
    
}

.player .time{
    margin:0px 20px;
    color: white;
}

.progress-bar{
    position: relative;
    width: 90%;
    height: 10px;
    background-color: rgba(158, 177, 177, 0.849);
    border-radius: 2px;
    margin-top:5px;
    cursor: pointer;

}

.progress-bar .progress{
    position: absolute;
    inset: 0;
    width: 0%;
    background-color: white;
}

.progress-bar .progress span{
    position: absolute;
    top: 5px;
    right: 0;
    /* left: 0; */
    bottom: 0;
    translate: 50% -50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgb(216, 230, 230);

}

.showLyric{
    color: white;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
.showLyric span{
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    bottom: 0;
    z-index: 100;
}




@media screen and (max-width:1024px){
   

    .img-thumbnail{
        width: 300px;
        align-items: center;
        margin: 0 auto;
    }

    .progress-bar{
        width: 50%;
        margin: 0 auto;
    }

    .info{
        align-items: center;
    }
}


@media screen and (max-width:450px){
    .container{
        width: 90%;
        height: 1000px;
        margin: 200px auto;
    }

    .img-thumbnail{
        width: 300px;
        align-items: center;
        /* margin-right: 100px; */
        padding-right: 20px;
    }

    .progress-bar{
        width: 40%;
        margin: 0 auto;
        
    }

    .info{
        position: relative;
        top: -200px;
    }
}